@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@700&display=swap");

body {
  background: #eef9bf;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 80%;
  color: #75b79e;
  font: 700 36px/42px "Roboto", sans-serif;
  letter-spacing: -0.004em;
  text-transform: uppercase;
  text-align: center;
}

main {
  width: 80%;
  margin: 0 auto 50px;
}

.timer {
  text-align: right;
  color: #f9561b;
  font: 400 30px/36px "Lilita One", cursive;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.card {
  width: 117px;
  height: 146px;
  position: relative;
}

.card img {
  width: 100px;
  height: 100px;
}

.face {
  width: 100%;
  height: 100%;
  background: #a7e9af;
  border: 1px solid #99cea8;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all 500ms;
  transform-style: preserve-3d;
}

.back-face {
  transform: rotateY(180deg);
}

.card.clicked:not(.locked) .back-face {
  transform: rotateY(0deg);
}

.card.clicked:not(.locked) .front-face {
  transform: rotateY(-180deg);
}
