@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Sigmar+One&display=swap");

body {
  background: #eef9bf;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 80%;
  color: #75b79e;
  font: 700 36px/42px "Roboto", sans-serif;
  letter-spacing: -0.004em;
  text-transform: uppercase;
  text-align: center;
}
